@import './variables.css';

.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--h-verde-claro);
  color: white;
}

.btn-primary:hover {
  background-color: var(--h-verde-bosque);
}

.btn-accent {
  background-color: var(--h-rosa);
  color: white;
}